.ui-plateDown {
  padding: 140px 0px 100px 0px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  .img-container {
    max-width: 824px;
    max-height: 549px;
    img {
      width: 500px;
    }
  }
}

.ui-plate-position {
  &-down {
    order: 1;
  }
  &-top {
    order: 2;
  }
}
.ui-plate-color {
  &-white {
    color: white;
  }
  &-black {
    color: #043873;
  }
}
.plate-content-down {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 60px;
}
.plate-content-text-down {
  gap: 24px;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 70vw;
  h1 {
    font-size: 64px;
    line-height: 50px;
    font-weight: bold;
  }
  p {
    font-size: 18px;
    font-weight: 300;
  }
}
.ui-plate-bg {
  &-darkblue {
    background-color: #043873;
    color: white;
  }
}
