header {
  background-color: #043873;
  display: flex;
  justify-content: space-around;
  padding: 16px;
  nav {
    display: flex;
    padding: 16px;
    ul {
      display: flex;
      list-style: none;
      gap: 32px;
      li {
        color: white;
        display: flex;
        &:hover{
          color: #FFE492;
          cursor: pointer;
        }
      }
    }
  }
}

.logo-header {
  display: flex;
  align-items: center;
  gap: 10px;
  h1 {
    color: white;
    font-weight: bold;
    font-size: 28px;
  }
}
